{% extends "base.twig" %}

{% block content %}
  <div>
  	{% for term in workshops %}
  		<p><a href="{{term.get_link}}">{{term.title}}</a></p>
  	{% endfor %}
  </div>

  <div>
    <h2>All posts</h2>

  	{% for post in posts %}
  		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
  	{% endfor %}
  </div>
{% endblock %}
